body
{
    font-family: 'Oswald', sans-serif;
    margin: 0px;
}
h1
{
    font-size: 40px;
}
.margin-solve
{
    margin:-2px;
}
.highlight
{
    color: rgb(136, 85, 8);
}
.link-button
{
    text-decoration: none;
    font-size: 30px;
    background-color: cadetblue;
    border-radius: 3px;
    padding: 5px;
    box-shadow: 5px 5px 10px black;
}
.halfwidth
{
    width: 30%;
    height: 500px;
    margin: 2%;
    padding-left: 10%;
    float : left;
}
.image-size
{
    width: 100%;
    height: 400px;
}
.firstbackground
{
    background-image: url(top-banner.png);
    height: 550px;
    background-repeat: no-repeat;
    
    
}
.link-button2
{   
    text-decoration: none;
    color: cornsilk;
    font-size: 30px;
    background-color: rgb(145, 118, 29);
    border-radius: 3px;
    padding: 5px;
    box-shadow: 5px 5px 10px rgb(133, 117, 117);
}
.secondbackground
{
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    height: 500px;
    background-position: right;
}
.center
{
    text-align: center;
    width: 70%;
    margin: auto;
    height: 400px;
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
    
}
.border
{
    
    width: 40%;
    height: 200px;
    margin: auto;
    border-left: 5px solid;
    border-image: linear-gradient(150deg, black, white);
    border-image-slice: 1;
    box-shadow: 10px 10px 20px gray;
}